@model IEnumerable<ArticleDTO>

<link asp-append-version="true" href="~/css/article.css" rel="stylesheet" />
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const innerContentElements = document.querySelectorAll('.inner-content');

        innerContentElements.forEach(element => {
            let content = element.textContent;

            // Cắt bớt nội dung nếu vượt quá 1000 ký tự
            if (content.length > 1000) {
                element.textContent = content.substring(0, 1000) + '...';
            }
        });
    });
</script>
<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryMenu")
    </div>
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
        @foreach (var article in Model)
        {
            <div class="article">
                <img src="~/account_bg.jpg" alt="News Image" />

                <div class="article-content">
                    <a asp-controller="Article" asp-action="ShowArticleDetails" asp-route-ArticleID="@article.ArticleID"><h3>@article.Title</h3></a>
                    <p>@article.DateCreate.ToString("dd-MM-yyyy")</p>

                    <p class="inner-content">@Html.Raw(article.Content)</p>
                </div>
            </div>
        }
    </div>
</div>
